@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.estilo {
  color: blue;
  text-align: center;
}
.btn-success {
  background-color: green !important;
  border-color: transparent !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  flex-direction: row;
}

.colorLogo {
  color: white;
  margin-top: 5px;
}

.nav-link {
  margin-left: 1.5rem;
  font-size: 16px;
}
.bg-dark {
  background: black !important;
}
.galeria img {
  width: 100%;
  height: 300px;
  padding: 15px;
  object-fit: cover;
}

.row {
  margin-top: 2rem !important ;
}
.nav-item {
  margin-left: 3.2rem;
}
.fuente {
  font-family: "Ubuntu", sans-serif !important;
  margin-top: 2rem;
  text-align: center;
}

.logo {
  width: 130px;
  height: 50px;
  object-fit: contain;
}

.iconoInstagram {
  width: 20px;
  height: 20px;
  margin-left: 0.4rem;
}

.ubicacionLogos {
  margin-right: 2.5rem;
}
.logoPrincipal {
  margin-right: 5px;
}

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
