/* Navbar Inicio */
body {
  background-color: #f3f3f3 !important;
  overflow: visible !important;
  padding-right: 0 !important;
}
.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.nav-link {
  margin-left: 1.5rem;
  font-size: 16px;
  font-family: Montserrat !important;
}
.nav-item {
  margin-left: 3.2rem;
}
.logo {
  width: 130px;
  height: 50px;
  object-fit: contain;
}
.logoPrincipal {
  margin-right: 5px;
}
.iconoInstagram {
  width: 20px;
  height: 20px;
  margin-left: 0.4rem;
}
.ubicacionLogos {
  margin-right: 2.5rem;
}
/* Navbar Final */

/* Estilos home inicio */
.imagenInicio {
  width: 100%;
  padding-top: 50px;
  height: 500px !important;
  object-fit: cover;
  background-color: black;
}
.contenedorImagen {
  position: relative;
  display: inline-block;
  text-align: center;
}
.texto-encima {
  display: flex;
  position: absolute;
  top: 80px;
  left: 50px;
  color: white;
  font-size: 5rem;
  font-style: "Roboto", sans-serif;
}
.texto-encima2 {
  display: flex;
  position: absolute;
  top: 150px;
  left: 30px;
  color: white;
  font-size: 5rem;
  font-style: "Roboto", sans-serif;
}
.texto-encima3 {
  display: flex;
  position: absolute;
  top: 180px;
  left: 75px;
  color: white;
  margin-top: 2rem;
}

.contenedorImagenInicio {
  width: 300px;
  margin-top: 2rem;
  margin-left: 5.5rem;
  height: 350px;
  object-fit: cover;
  position: relative;
  display: inline-block;
  text-align: center;
}

.contenedorInicio :hover {
  transform: scale(1.08, 1.1);
  transition: transform 0.7s;
}
.row {
  margin-top: 2rem !important ;
}
.textoInicio {
  margin-top: 2rem;
  font-family: Montserrat;
  font-weight: 320;
}
.margenContenedor {
  margin-right: 0 !important;
}
.contenedorImagenPrincipal {
  width: 100%;
  height: 300px;
}
.fade-in-image {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Estilos home final */

/* Footer inicio */
.pt-4 {
  background-color: rgba(5, 5, 5, 0.91);
  margin-top: 2rem;
}
.page-footer {
  padding: 1px;
}
.colorTexto {
  color: white;
}
.colorLinks {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.colorLinks :hover {
  color: white !important;
}
.colorLinks1 {
  color: white;
}
.fondoCart {
  vertical-align: initial !important;
}
/* Footer final */

/* Card Productos inicio */
.card {
  width: 200px;
  margin-top: 20px;
  margin-left: 5rem;
  text-align: center;
}
.imagenMezclador {
  width: 300px;
  padding-right: 32px;
}
.cardEduardo {
  height: 410px;
  width: 290px !important;
}
.card-body {
  background-image: linear-gradient(
    to right top,
    #f9f6f8,
    #d7d5d8,
    #b5b6b8,
    #959798,
    #77797a,
    #787a7a,
    #787a7b,
    #797b7b,
    #999a9b,
    #babbbb,
    #dcdcdd,
    #ffffff
  );
}
.flex-wrap {
  margin-top: 2rem;
}
/*Card Productos Final  */

/* ItemCount Inicio */
.sumar {
  color: #fff;
  text-decoration: none;
  border: 2.4px solid #3655b2;
  border-radius: 5px;
  background-color: black;
  width: 40px;
  height: 40px;
}
.sumar:hover {
  animation: pulsate 1s ease-in-out;
}
.botonesSumarRestar {
  margin-left: 7.8rem;
}
/* ItemCount Final */

/* Detalle Producto Inicio */

.tituloDetail {
  text-align: center !important;
  margin-bottom: 2rem;
}
.parrafoDetail {
  font-size: 1.2rem;
  padding: 10px;
  font-weight: 500;
}
.imagenDetalle1 {
  width: 50%;
  height: 50%;
}
.mx-auto {
  width: 250px;
  height: 120px;
  margin-top: 2rem;
}
/* Detalle Producto Final */

/* Estilos Contador Inicio */

.centradoPrecio {
  text-align: center;
  margin-left: 2rem;
}
.imgContador {
  width: 200px;
  height: 200px;
}
.text-center {
  margin-bottom: 1.5rem !important ;
}

/* Estilos contador final */

/* Estilos carrito Inicio */
.cart {
  width: 80%;
  background-color: pink;
  margin: auto;
  margin-top: 5rem;
}
.productoCarrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.fondoCarritoVacio {
  width: 100%;
  height: 354px;
  margin-top: 5rem;
}
.color {
  background-color: #f3f3f3;
}
.tituloCarrito {
  margin-top: 2rem;
  text-align: center;
}
.contenedorCarrito {
  background-image: linear-gradient(
    to right top,
    #f9f6f8,
    #d7d5d8,
    #b5b6b8,
    #959798,
    #77797a,
    #787a7a,
    #787a7b,
    #797b7b,
    #999a9b,
    #babbbb,
    #dcdcdd,
    #ffffff
  );
  margin-top: 5rem;
}
/* Estilos carrito final */

/* Estilos Formulario */
.contenedorFormulario {
  background-image: linear-gradient(
    to right top,
    #f9f6f8,
    #d7d5d8,
    #b5b6b8,
    #959798,
    #77797a,
    #787a7a,
    #787a7b,
    #797b7b,
    #999a9b,
    #babbbb,
    #dcdcdd,
    #ffffff
  );
  margin-top: 4.8rem;
  max-width: 70%;
  margin-left: 15%;
}
.textoFormulario {
  margin-top: 4.1rem;
}
.margenFormulario {
  margin-top: 2rem;
}
/* Estilos Formulario final */

/* Estilos Botones Inicio */

.botonAnimation {
  display: flex;
  color: #fff;
  text-decoration: none;
  border: 2.4px solid #3655b2;
  margin-left: 47%;
  border-radius: 5px;
  background-color: black;
  padding: 7px 20px;
}
.botonAnimation:hover {
  animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
  }
}
.botonAnimationContainer {
  display: inline-flex;
  color: #fff;
  text-decoration: none !important;
  border: 2.4px solid #27386c;
  border-radius: 5px;
  background-color: black;
  padding: 7px 20px;
}
.botonAnimationContainer:hover {
  animation: pulsate 1s ease-in-out;
}
.botonTerminarCompra {
  margin-right: 45% !important;
  display: inline-flex;
}
.botonAnimationCarrito {
  color: white;
  border: 1px solid #3655b2;
  background-color: #212529;
  border-radius: 5px;
  height: 40px;
}
.botonAnimationCarrito:hover {
  animation: pulsate 1s ease-in-out;
}

/* Estilos Botones Final */

.spinner-border {
  margin-top: 2rem !important;
}
.textoCompra {
  font-family: Montserrat;
  font-weight: 400;
}
.margenBotones {
  margin-left: 3rem;
}
.margenBotonModal {
  margin-left: 8rem;
}
.textoPrecioFinal {
  font-family: Montserrat;
  font-weight: 400;
  margin-top: 1rem;
}
.botonAnimationInicio {
  width: 50px;
  height: 100px;
}
.inlineBlock {
  display: inline-block !important;
}
.botonForm {
  margin-top: 1rem;
}
.fondoCart {
  background-color: #f3f3f3;
}
.icon {
  display: inline-block;
  width: 50px;
  animation: float 5s ease-in-out infinite;
  padding: 4px;
  margin-left: 10px;
  margin-right: 20px;
}
.ri-facebook-circle-line {
  animation-delay: 1s;
}
.ri-whatsapp-line {
  animation-delay: 2s;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.icons-wrapper {
  margin-left: 42%;
  margin-top: 3rem;
}

.iconLogo {
  animation: float 3s ease-in-out calc(1);
  margin-right: 1rem;
}

.aa {
  color: #212529 !important;
}

.contenedor404 {
  margin-top: 7rem;
}

.textoError404 {
  margin-top: 2rem;
}

.logo404 {
  font-size: 6rem;
  font-weight: 500;
  padding: 5.5px;
}
input:valid,
textarea:valid {
  background: rgb(240, 255, 240) !important;
}
input:invalid,
textarea:valid {
  background: rgb(248, 232, 232) !important;
}
